@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  font-size: 60px;
}

.h2 {
  font-size: 48px;
}

.h3 {
  font-size: 38px;
}

.p {
  font-size: 28px;
}

.m {
  font-size: 20px;
}

.hs1 {
  font-size: 50px;
}

.hs2 {
  font-size: 42px;
}

.hs3 {
  font-size: 34px;
}

.dark {
  color: #36323e;
}

.bg-dark {
  background-color: #36323e;
}

.red {
  color: #ff3e4a;
}

.bg-red {
  background-color: #ff3e4a;
}

.yellow {
  color: #ffce3e;
}

.bg-yellow {
  background-color: #ffce3e;
}

.dark-red {
  color: #820a12;
}

.bg-dark-red {
  background-color: #820a12;
}

.overlay{
  mix-blend-mode: normal!important;
}

body {
  background: #36323e;
  overflow-y: scroll!important;
  padding-right: 0!important;
}
